.action {
  background-color: var(--bg-yankees-blue);
}

.action__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: items;
  width: 270px;
}

.action__item {
  border-radius: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: var(--color-mirage);
  position: relative;
  min-height: 80px;
  padding: 22px 24px;
  padding-right: 36px;

  &::after {
    content: counter(items);
    counter-increment: items;
    position: absolute;
    color: var(--basic-white);
    right: 21px;
    top: 22px;
    width: 10px;
    height: 18px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
  }

  &:nth-child(4n+1) {
    background-color: #ff8d30;
  }

  &:nth-child(4n+2) {
    background-color: #ffa530;
  }

  &:nth-child(4n+3) {
    background-color: #ffbd30;
  }

  &:nth-child(4n+4) {
    background-color: #ffd74b;
  }

  &:nth-child(n+2) {
    margin-top: -20px;
  }

  &:nth-last-child(n+2) {
    padding-bottom: 42px;
  }
}

@media (min-width: $tablet-width) {
  .action__list {
    width: 688px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .action__item {
    padding: 31px 33px;
    min-height: 140px;
    border-radius: 20px;
    font-size: 24px;
    line-height: 24px;

    &::after {
      font-size: 30px;
      line-height: 30px;
      left: 33px;
      top: auto;
      bottom: 12px;
      width: 16px;
      height: 30px;
    }

    &:nth-child(odd) {
      width: 365px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:nth-child(n+2) {
      margin-top: 0;
    }

    &:last-child {
      padding-bottom: 42px;
    }
  }
}

@media (min-width: $desktop-width) {
  .action__list {
    width: 1320px;
    display: flex;
    flex-wrap: wrap;
  }

  .action__item {
    min-height: 107px;
    padding: 30px;
    padding-left: 34px;
    padding-right: 86px;

    &::after {
      font-size: 24px;
      line-height: 24px;
      right: 67px;
      top: 29px;
      left: auto;
    }

    &:nth-child(4n+1) {
      width: 345px;
    }

    &:nth-child(4n+2) {
      width: 375px;
      margin-left: -30px;
    }

    &:nth-child(4n+3) {
      width: 375px;
      margin-left: -30px;
    }

    &:nth-child(4n+4) {
      width: 315px;
      margin-left: -30px;
    }

    &:nth-last-child(n+2) {
      padding-bottom: 30px;
    }

    &:last-child {
      padding-bottom: 30px;
    }
  }
}
