.address {
  background-color: var(--bg-gargoyle);
}

.address__button {
  border: 3px solid #192144;
  padding: 19px 23px;
}

@media (min-width: $desktop-width) {
  .address__button {
    width: 324px;
  }
}
