.companion {
  background-color: var(--bg-yankees-blue);
}

.companion__header {
  width: 217px;
}

.companion__text-br {
  display: none;
}

.companion__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.companion__item {
  width: 270px;
  min-height: 428px;
  position: relative;
}

.companion__link {
  display: flex;
  flex-direction: column;
}

.companion__photo {
  display: block;
}

.companion__progress {
  position: absolute;
  top: 17px;
  left: 17px;
}

.companion__block {
  background-color: var(--basic-white);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 158px;
  display: flex;
  flex-direction: column;
  padding: 0 22px 22px;
}

.companion__flag {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
  width: 145px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-bottom: 10px;
}

.companion__flag-image {
  display: block;
}

.companion__name {
  position: relative;
  margin-bottom: 15px;
}

.companion__name-title {
  font-size: 21px;
  line-height: 21px;
  color: var(--color-cloud-burst);
  text-align: center;
  margin: 0;
}

.companion__name-status {
  position: absolute;
  top: 8px;
  left: 33px;

  &--offline {
    color: var(--status-offline);
  }

  &--online {
    color: var(--status-online);
  }
}

.companion__tag {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 188px;
  justify-content: center;
  margin: 0 auto;
  line-height: 18px;
  font-size: 16px;
  margin-bottom: 14px;
}

.companion__transport {
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 120px;
  justify-content: space-between;
  margin: 0 auto;
}

.companion__transport-item {
  width: 30px;
  height: 30px;
  display: flex;
}

.companion__transport-icon {
  margin: auto;

  &--opacity {
    opacity: 0.15;
  }
}

@media (min-width: $tablet-width) {
  .companion__header {
    width: 437px;
  }

  .companion__text-br {
    display: block;
  }

  .companion__list {
    width: 285px;
  }

  .companion__item {
    width: 285px;
    min-height: 484px;
  }

  .companion__photo {
    width: 285px;
    height: 286px;
  }

  .companion__block {
    min-height: 198px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -1px;
  }

  .companion__name-title {
    font-size: 24px;
    line-height: 22px;
  }

  .companion__name-status {
    width: 8px;
    height: 8px;
  }

  .companion__tag {
    font-size: 20px;
    line-height: 23px;
    width: 210px;
    margin-bottom: 24px;
  }
}
