.map {
  z-index: $z-index-map;
  position: relative;
  margin-top: $margin-top-minus-mobile;
}

.map__iframe {
  width: 100%;
  height: 320px;
  display: block;
  border: 0;
}

@media (min-width: $tablet-width) {
  .map__iframe {
    height: 544px;
  }
}
