.route-address {
  background-color: var(--basic-yellow);
  z-index: $z-index-route-address;

  @include indent-bottom-mobile();
}

.route-address__container {
  padding-top: 30px + $padding-top-plus-mobile;
  padding-bottom: 35px;
}

.route-address__block {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-blue-light);
  padding-left: 60px;
  position: relative;
  margin-bottom: 34px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #121936;
    background-image: url("../img/route-address/route-address-location.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.route-address__button {
  border: 3px solid #192144;
  padding: 19px 19px;

  &::before {
    top: 20px;
  }
}

@media (min-width: $tablet-width) {
  .route-address {
    @include indent-bottom-tablet();
  }

  .route-address__container {
    padding-top: 67px + $padding-top-plus-tablet;
    padding-bottom: 84px;
  }

  .route-address__block {
    font-size: 28px;
    line-height: 28px;
    padding-left: 93px;
    margin-left: 35px;
    margin-bottom: 65px;

    &::before {
      top: -20px;
      width: 68px;
      height: 68px;
      background-size: 32px 32px;
    }
  }

  .route-address__br {
    display: none;
  }

  .route-address__button {
    width: 618px;
    margin: 0 auto;
    padding-left: 34px;
    padding-right: 30px;

    &::before {
      top: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .route-address__container {
    display: flex;
    align-items: center;
    padding-top: 118px;
    padding-bottom: 62px;
  }

  .route-address__block {
    margin: 0;
    margin-left: 224px;
    padding-left: 120px;

    &::before {
      top: -30px;
      width: 90px;
      height: 90px;
      background-size: 42px 42px;
    }
  }

  .route-address__button {
    width: 324px;
    height: 80px;
    flex-shrink: 0;
    margin-right: 75px;
  }
}
