.authorization {
  display: flex;
  flex-wrap: wrap;
}

.authorization__button {
  background-color: var(--basic-yellow);

  &--phone {
    background-color: var(--special-orange);
  }

  &--email {
    background-color: var(--special-yellow-dark);
  }

  &--phone,
  &--email {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &--entry {
    width: 190px;
    min-height: 40px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(----basic-blue);
    padding: 10px;
  }
}

.authorization__icon {
  margin: auto;
}

@media (min-width: $tablet-width) {
  .authorization__button {
    &--phone,
    &--email {
      width: 50px;
      height: 50px;
    }

    &--entry {
      width: 188px;
      min-height: 50px;
      font-size: 20px;
      padding: 16px;
    }
  }
}
