.button-menu {
  padding: 0;
  border: 0;
  background-color: transparent;
  color: var(--basic-white);
  display: flex;
  width: 25px;
  height: 25px;
}

.button-menu__icon {
  display: none;
  margin: auto;
}
