.contacts {
  display: grid;
}

.contacts__link {
  display: flex;
  min-height: 45px;
  align-items: center;
}

.contacts__icon-block {
  background-color: #121936;
  width: 45px;
  height: 45px;
  display: flex;
  border-radius: 50%;
  margin-right: 16px;
  flex-shrink: 0;
}

.contacts__icon-svg {
  margin: auto;
}

.contacts__text {
  color: var(--basic-yellow);
  font-weight: 700;
  text-transform: uppercase;

  &--dark {
    color: var(--basic-blue-light);
  }
}

@media (min-width: $tablet-width) {
  .contacts__link {
    min-height: 68px;
  }

  .contacts__icon-block {
    width: 68px;
    height: 68px;
    margin-right: 22px;
  }

  .contacts__icon-svg {
    &--phone {
      width: 28px;
      height: 26px;
    }

    &--email {
      width: 28px;
      height: 19px;
    }

    &--location {
      width: 32px;
      height: 32px;
    }
  }

  .contacts__text {
    font-size: 28px;
    line-height: 28px;

    br {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 1440px;
  }

  .contacts__icon-block {
    width: 90px;
    height: 90px;
    margin-right: 31px;
  }

  .contacts__link {
    &:nth-child(1) {
      margin-right: 110px;
    }
  }

  .contacts__icon-svg {
    width: 40px;
    height: 38px;
  }
}
