.logo {
  color: var(--basic-white);
}

.logo__image {
  &--mobile {
    display: block;
  }

  &--tablet {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .logo__image {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    &--tablet {
      width: 200px;
      height: 50px;
    }
  }
}
