.logo {
  color: var(--basic-white);

  &--dark {
    color: var(--color-yankees-blue);
  }
}

.logo__image {
  &--mobile {
    display: block;
  }

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }

    &--desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
