.navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 193px;
  text-align: center;
}

.navigation__link {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: var(--color-yankees-blue);
}

@media (min-width: $tablet-width) {
  .navigation {
    text-align: left;
    width: auto;
  }

  .navigation__link {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    flex-direction: row;
    gap: 34px;
    padding-left: 105px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 60px;
      height: 2px;
      background-color: var(--basic-white);
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }

  .navigation__link {
    color: var(--basic-white);
    font-size: 20px;
    line-height: 20px;
  }
}
