:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-blue: #161c35;
  --basic-blue-light: #1d2e5b;
  --basic-yellow: #ffd74b;
  --special-yellow-dark: #ffbd30;
  --special-orange: #ff8d30;
  --special-blue-light: #dfe3f0;
  --special-grey: #444444;
}
