// colors
:root {
  --bg-yankees-blue: #192144;
  --bg-athens-gray: #edeff6;
  --bg-mirage: #161c35;
  --bg-gargoyle: #ffd74b;
  --bg-glitter: #e6e8f1;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --color-tundora: #444444;
  --color-mirage: #161c35;
  --color-cloud-burst: #1d2e5b;
  --color-catalina: #132576;
  --color-yankees-blue: #192144;
  --title-deep-saffron: #ff8d30;
  --button-deep-saffron: #ff8d30;
  --button-saffron: #ffbd30;
  --button-gargoyle: #ffd74b;
  --status-offline: #f97676;
  --status-online: #81e31e;
}

// viewports
$tablet-width: 768px;
$desktop-width: 1440px;
